* {
    font-family: 'Nunito', sans-serif;
}

.login {
    height: 80vh;
    /* background: linear-gradient(#c9c9c970, #ffffff25) !important; */
}

.header h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 3vh;
    line-height: 48px;
    color: black;
    /* margin-bottom: 80px; */
}

.login-form label {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: black;
    margin-top: 10px;
}

.login-form input {
    background: #FFFFFF;
    border: 1px solid #bcbcbc;
    box-sizing: border-box;
    border-radius: 8px;
}

.login-form a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #737373;
    display: block;
    margin: 20px 0;
}

.login-form .signin {
    width: 100%;
    border-radius: 8px;
    height: 42px;
    margin: 10px 0 20px 0;
}

.login-form span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #737373;
}

.login-form span a {
    font-weight: 600;
}

.login-form .btn {
    background-color: rgb(180, 153, 0);
    color: white;
}

.carousel-inner img {
    height: 80vh;
    object-fit: cover;
}

.input-group .input-group-text .form-control {
    border: none !important;
    background-color: rgba(197, 197, 197, 0.171) !important;
}

@media (max-width: 977px) {
    .login-right {
        display: none;
    }

    .login-left {
        width: 100% !important;
    }

    .login {
        height: 80vh;
        background: linear-gradient(#fffefe, #ffe15e50) !important;
    }
}

@media (max-width: 577px) {
    .login {
        height: 100vh;
    }
}

@media (max-width: 575px) {
    .login-left {
        margin: 0 3% 0 3%;
    }
}