#result {
    margin-top: 10px;
    justify-content: end;
}

.thumbnail {
    height: 192px;
}

/* css form dinamis */


.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 15px;
}

.add {
    /* border-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.075); */
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #28c76f;
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.flex {
    display: flex;
    gap: 1.5em;
    margin-bottom: 15px;
}

.delete {
    text-decoration: none;
    display: inline-block;
    background: #f44336;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    width: 25px;
    height: 25px;
    color: #fff;
    margin-left: auto;
    margin-top: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    border: none;
}

input {
    padding: 8px 10px;
    border: none;
    width: 50%;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

input:focus {
    outline: 1px solid #efefee;
}

a:hover {
    color: #ffffff;
}